html,body,#root{
    height: 100%;
}
.xs-header{
    padding: 0 16px;
    background-color: #1890ff;
    border-bottom: 1px solid #dedede;
    .xs-logo{
        height: 48px;
        img{
            max-height: 100%;
        }
    }
}